# Config KataGo — fuseki F6 en pipeline parallele (RTX 3060 12 Go)

logDir = E:/lizzie/analysis_logs_goprogress
reportAnalysisWinratesAs = BLACK
conservativePass = true

maxVisits = 1000
numAnalysisThreads = 1
numSearchThreadsPerAnalysisThread = 8
nnMaxBatchSize = 12
nnCacheSizePowerOfTwo = 19
nnMutexPoolSizePowerOfTwo = 16
nnRandomize = true

cudaDeviceToUse = 0
cudaUseFP16 = true
cudaUseNHWC = true
